version: '3.6'

services:
  wordpress:
    image: wordpress
    restart: always
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: {{ database_user }}
      WORDPRESS_DB_PASSWORD: {{ database_password }}
      WORDPRESS_DB_NAME: {{ database_name }}

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: {{ database_name }}
      MYSQL_USER: {{ database_user }}
      MYSQL_PASSWORD: {{ database_password }}
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - {{ mysql_dir }}:/var/lib/mysql
