.idea/

*.gz
.DS_Store

#crawler/*.json
crawler/.DS_Store
crawler/COVID-19-TweetIDs/
crawler/env/
sentiment-analysis/test.csv

ansible/config/GitHubKey.pem

backend/venv
backend/flask

crawler/__pycache__/

crawler/great_syd/2020-05-06.jsonl

crawler/great_brisbane/2020-05-06.jsonl

crawler/great_mel/2020-05-06.jsonl

*.pyc

sentiment-analysis/test.jsonl

sentiment-analysis/processed/
sentiment-analysis/*.ipynb
sentiment-analysis/*.html
sentiment-analysis/*.csv
sentiment-analysis/*.svg
sentiment-analysis/.ipynb_checkpoints/

*.jpg

sentiment-analysis/compress.zip

*.ipynb
config_*.json
*.zip
