hosts = ["{{ groups['database'][0] }}", "{{ groups['database'][1] }}", "{{ groups['database'][2] }}"]
port = "{{ couchdb_port }}"
username = "{{ couchdb_user }}"
password = "{{couchdb_pass}}"
covid_db_name = "covid-19-tweets"
all_tweets_db_name = "all-tweets"